<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_for_input_account.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://pmcvariety.files.wordpress.com/2013/10/new-twitter-logo.jpg?w=1000&h=563&crop=1');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Input an account</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <form action="/input_account" method="post" >
      <div class="search">
        <input type="text" name="account" class="search-box" placeholder="@account..." id="search-txt" type="submit" tabindex="-1" />
        <span class="search-button">
          <span class="search-icon"></span>
        </span>
      </div>

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../static/js/script.js"></script>
    </form>
    {% if error %}
      <label class=error><strong>Error:</strong> {{ error }}</label>
    {% endif %}
  </div>
</div>

</body>
</html>
